@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;300&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24272b;
}
header {
  background-color: #2c394b;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 0;
}

/* navigation */

header .nav-links {
  list-style: none;
  padding: 0;
  display: flex;

  transition: all 1s ease;
}
.main-logo a {
  font-family: "Style Script", cursive;
  font-size: 36px;
  margin: 5px 10px;
  font-weight: 300px;
}
a {
  color: azure;
  text-decoration: none;
}
a:hover {
  color: rgb(204, 85, 0);
}
.nav-links li {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.nav-links li a {
  display: block;
}
.menu-btn {
  position: block;
  right: 20px;
  top: 20px;
  color: white;
  display: none;
}

/* about content */
.about {
  background-color: #ffffff;
}
.about .about-content {
  display: flex;
  flex-direction: column;
  padding: 50px 200px;
  align-items: center;
}
.about .about-content .profile-logo {
  border-radius: 50%;
  width: 150px;
}
.about .about-content p {
  font-family: "Prompt", sans-serif;
  color: black;
  font-size: 24px;
  text-align: center;
  margin: 0 100px;
}
.about .about-content .front-techs,
.back-techs {
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 50px;
}
.about .about-content .front-techs li,
.back-techs li {
  margin: auto 15px;
}
.about .about-content .front-techs img,
.back-techs img {
  height: 50px;
  width: auto;
  border-radius: 3px;
}
.about .about-content p span {
  color: #cc5500;
}
.content {
  display: flex;
  height: 90vh;
  flex-direction: column;
  margin-top: 25%;
  padding: 50px 0;
}

/* portfolio content */
.portfolio h2 {
  color: white;
  text-align: center;
  padding: 0;
  margin-top: 80px;
  font-family: "Prompt", sans-serif;
}
.portfolio .row {
  display: flex;
}
.portfolio .row .col {
  color: whitesmoke;
  font-family: "Prompt", sans-serif;
  padding: 0;
  margin: 20px 20px;
}

.portfolio .row .col img:hover {
  filter: brightness(50%);
}
.title {
  font-size: 28px;
  color: #cc5500;
}

/* contact */
.contact {
  margin: 50px;
  border-top: 1px solid gray;
  padding: 0 100px;
}
.contact .contact-info {
  color: white;
}
.contact-info h2 {
  font-family: "Anton", sans-serif;
  font-size: 32px;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: #cc5500;
  margin: 20px 0;
}
.contact-info p {
  font-family: "Prompt", sans-serif;
  font-size: 24px;
  margin: 0 20px;
}
.contact-info p span {
  color: #cc5500;
}
.contact .follow {
  color: gray;
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-size: 21px;
  margin-top: 50px;
}
.contact .contact-icons {
  list-style: none;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: gray;
  margin-top: 0;
}
.contact-icons li {
  margin: 0 25px;
}

/* Mobile view */
@media (max-width: 960px) {
  header {
    display: block;
  }

  header .nav-links {
    flex-direction: column;
    margin-top: -250px;
  }
  header .nav-links li {
    padding: 15px 20px;
    transition: top 2s ease;
  }
  header .menu-toggle {
    position: absolute;
    right: 20px;
    top: 25px;
    color: white;
    cursor: pointer;
  }

  header .menu-btn:checked ~ .nav-links {
    display: flex;
    margin-top: 0px;
  }
  .content {
    display: flex;
    height: 90vh;
    flex-direction: column;
  }

  .about .about-content {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    align-items: center;
    margin-top: -50px;
  }
  .about .about-content p {
    font-family: "Prompt", sans-serif;
    color: black;
    font-size: 24px;
    text-align: center;
    margin: 0;
  }

  .portfolio .row {
    flex-direction: column;
  }
  .portfolio .row .col {
    color: whitesmoke;
    margin-top: 10px;
  }
  .portfolio .row .col img {
    width: 100%;
  }
}

/* Desktop view */
@media (min-width: 961px) {
  header {
    background-color: #24272b;
  }
  header .menu-toggle {
    display: none;
  }
  header .menu-times {
    display: none;
  }

  header .nav-links li {
    padding: 0 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding: 0;
  }
  .portfolio .row .col img {
    width: 100%;
  }
  .info p {
    padding: 0;
    white-space: initial;
    font-size: 21px;
  }
}

/* Body  */

.content h1 {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: clamp(20px, 5vw, 30px);
  text-align: center;
}
.content h1 span {
  text-transform: uppercase;
  color: #cc5500;
}
.content p {
  font-family: "Shadows Into Light";
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 0;
  text-align: center;
}
